* { /*Alt her sørger for font og at siden fylles med innhold*/
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

* {cursor: url(../Bilder/Cursor.png), default;}
*:active {cursor: url(../Bilder/Cursor2.png), default;}

body{
  background-color: rgb(40, 40, 40);
}

/*Grids*/
.grid_container {
  border-style: solid;
  border-color: white;
  border-width: 5px;
  width: 100vw;
  height: 100vh;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* Deler opp I 10 deler */
  grid-template-rows: 1fr 15fr 1fr; /* Endrer høyden på de ulike gridsene */
}

.overskrift {
  display: grid;
  font-size: 40px; 
  color: white;
  grid-column: 1/11;
  grid-row: 2/3;
  border-bottom-style: solid;
  border-width: 5px;
}

.innhold {
  display: grid;
  font-size: 15px;
  padding: 4px;
  color: white;
  grid-column: 1/11;
  grid-row: 2/20;
  overflow: auto;
  margin-left: 5px;
  border-radius: 5px;
  text-align: left;
}

.bunn {
  display: grid;
  color: white;
  grid-column: 1/11;
  grid-row: 20/21;
  border-top-style: solid;
  border-width: 5px;
}

.dropdown {
  position: relative;
  display: grid;
  text-align: center;
  grid-column: 1/11;
}

.dropbutton {
  background-color: rgb(19, 19, 19);
  color: white;
  border-bottom: solid;
  border-width: 5px;
  padding-top: 11px;
  padding-bottom: 5px;
  font-size: 42px;
}

.dropdown_innhold {
  display: none;
  position: relative;
  font-size: 20px;
  background-color: white;
  min-width: 100%;
}

.dropdown_innhold a {
  color: black;
  padding: 7px;
  text-decoration: none;
  display: block;
}

.dropdown_innhold a:hover {
  background-color: rgb(12, 116, 137);
  color: white;
}

.dropdown:hover .dropdown_innhold {
  display: block;
  border-bottom: solid;
  border-width: 5px;
  border-color: white;
}

.dropdown:hover .dropbutton {
  background-color: rgb(44,102,110);
}

.in a {color: rgb(12, 116, 137);}
.in a:hover {color: rgb(34, 79, 85);}

/*
Fargepallett
rgb(40, 40, 40) 
rgb(12, 116, 137)
rgb(7, 57, 60)
rgb(44, 102, 110)
*/
